@using static Smarthub.API.Models.Enums.Shared
@model Smarthub.ViewModels.OrderLineDTO

@{
    ViewData["Title"] = "Edit Order Line";
}

<h1 class="text-primary">Edit Order Line</h1>

<div class="card">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Order Line Details</h4>
    </div>
    <div class="card-body">

        <form asp-action="EditOrderLine">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderLineId" />
            <div class="row">
                <div class="form-group col-md-12">
                <div class="form-group col-md-4">
                    <label asp-for="LineNumber" class="control-label"></label>
                    <input asp-for="LineNumber" class="form-control" />
                    <span asp-validation-for="LineNumber" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="ProductCode" class="control-label"></label>
                    <input asp-for="ProductCode" class="form-control" />
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="ProductType" class="control-label">Product Type</label>
                    <div class="input-group mb-3">
                        <select asp-for="ProductType" class="form-control" asp-items="Html.GetEnumSelectList<eProductType>()">
                            <option selected="selected" disabled value="">Select Option</option>
                        </select>
                    </div>
                    <span asp-validation-for="ProductType" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="ProductCostPrice" class="control-label"></label>
                    <input asp-for="ProductCostPrice" class="form-control" />
                    <span asp-validation-for="ProductCostPrice" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="ProductSalesPrice" class="control-label"></label>
                    <input asp-for="ProductSalesPrice" class="form-control" />
                    <span asp-validation-for="ProductSalesPrice" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="OrderId" class="control-label"></label>
                    <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId" hidden></select>
                    <span asp-validation-for="OrderId" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
             </div>
           </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
